body {
    margin: 10px 10% 10px 10%;
    font-family: 'Merriweather', serif; 
}

.header {
    margin: 5px 11px;
    text-align: left;
    background: rgb(255, 255, 255);
}

.header h1 {
    font-family: 'Lobster', cursive;
    font-size: 44px;
}

.header a {
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
}

.navbar a {
    margin: 2px 10px 10px 10px;    
    float: left;
    display: block;
    color: rgba(0,0,0,0.5);
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    color: rgba(0,0,0,1);
    transition: 0.3s;
}

.content {
    margin: 5px 0px;
}

.content h1 {
    font-size: 24px;
}

.content h3 {
    font-size: 20px;
}

.content li {
    margin: 10px 0px 10px 0px;
    list-style-type: circle;
}

.content a {
    color: rgba(0,0,0,0.7);
}

.content a:hover {
    color: rgba(0,0,0,1);
    transition: 0.3s;
}

.content .left-column {
    background: rgb(255, 255, 255);
    float: left;
    width: 68%;
}

.content .left-column .left-content {
    padding-left: 2%; 
}

.content .left-column .reset-password p {
    font-size: 80%;
}

.content .left-column .register p {
    font-size: 80%;
}

.content .right-column {
    background: rgba(0, 128, 0, 0.15);
    float: right;
    width: 32%;
}

.content .right-column .right-content {
    padding-left: 5%;
    font-size: 85%;
}

.flash-message {
    width: 90%;
    padding: 10px 0px;
    color: darkslategrey;
    background: rgba(0, 128, 0, 0.15);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,128,0,0.3);
    font-family: 'Merriweather', serif;
    font-weight: normal;
    font-size: 12px;
}

.flash-message:hover {
    transition: 0.3s;
    border-color: rgba(0,128,0,1)
}

.flash-message .x-button {
    font-size: 115%; 
    color: rgba(47, 79, 79, 0.3); 
    font-weight: normal; 
    float:right; 
    padding-right: 1.5%
}

.flash-message:hover .x-button {
    transition: 0.3s;
    color: rgba(47, 79, 79, 0.9); 
}

@media only screen and (max-width: 800px) {
    .content .left-column {
        width: 100%;
    } 
    .content .right-column {
        width: 100%;
    }
}

form {
    margin: 10px 0px;
}

.form-standard label {
    color: rgba(0,0,0,0.8);
    font-size: 14px;
}

.form-standard input[type=text], .form-standard input[type=password] {
    margin: 8px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0,0,0,0.5);
    height: 25px;
    width: 40%;
    padding-left: 10px;
    font-size: 14px;
    font-family: 'Merriweather', serif; 
}

.form-standard input[type=text]:hover, .form-standard input[type=password]:hover {
    transition: 0.3s;
    border-color: rgba(0,0,0,1);
}

.form-standard input[type=text]:focus, .form-standard input[type=password]:focus {
    border-color: rgba(0,0,0,1);
}

.form-standard input[type=checkbox] {
    margin: 10px 10px 10px 10px;
}

.form-standard input[type=submit] {
    font-family: 'Merriweather', serif;
    font-size: 13px;
    color:  rgba(0,128,0,0.95);
    margin: 12px 0px 8px 0px;
    height: 30px;
    width: 110px;  
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid  rgba(0,128,0,0.7);
}

.form-standard input[type=submit]:hover {
    /*color: rgba(0,0,0,1);*/
    background-color: rgba(0, 128, 0, 0.05);
    transition: 0.3s;
}

.form-standard input[type=file] {
    margin: 12px 0px 8px 0px;
}

.form-standard .form-textbox {
    width: 90%;
    padding: 2px;
    margin: 4px 0px;
}

.form-standard textarea {
    width: 100%;
    height: 6em;
    font-size: 12px;
    font-family: 'Merriweather', serif; 
}

.post-standard-postlist li {
    list-style-type: none;
}

.post-standard-time {
    float: right;
    font-size: 80%;
}

.post-standard-author {

}

.post-standard-post {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgba(0,0,0,0.25);
    margin: 10px;
    padding: 10px;
}