<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprig.ml - {% block title %}{% endblock %}</title>
    <head>
        <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|Lobster">
        <script src="{{ url_for('static', filename='scripts/base.js') }}"></script>
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
    </head>
    <body>
        <div class=header>
            {% block header %}
            <h1><a href="{{ url_for('main.index') }}"><font color="green">Sprig</font><font color="gray">.</font><font color="black">ml</font></a></h1>
            {% endblock %}
        </div>
        {% block navbar %}
        <div class="navbar">
            <a href="{{ url_for('main.index') }}">home</a>
            <a href="{{ url_for('main.about') }}">about</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.user', username=current_user.username) }}">profile</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}" style="float:right; padding: 0px 5% 0px 0px">sign out</a>
            {% else %} 
            <a href="{{ url_for('auth.login') }}" style="float:right; padding: 0px 5% 0px 0px">sign in / register</a>
            {% endif %}        
        </div>
        {% endblock %}
        <div class="content">
            <div class="left-column">
                <div class="left-content">
                    {% include "_flashedmessage.html" %}
                    {% block page_content %}{% endblock %}
                </div>  
            </div>
            <div class="right-column">
                <div class="right-content"> 
                    {% block right_content %}
                    <h3>Posts and pages</h3>
                    <ul>
                        <li><a href="#">Tom and Emily's recipes</a></li>
                        <li><a href="#">Web parsing</a></li>
                    </ul> 
                    {% endblock %}
                </div>
            </div>            
        </div>
    </body>
</html>